<!DOCTYPE html ng-app="helloWorld">
<html>
<head>
    <title>Hello world!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        angular.module("helloWorld", []);
        angular.module("helloWorld").controller("helloWorldCtrl", function($scope){
            $scope.message = "Hello World";
        })
    </script>
</head>
<body>
    <div ng-controller="helloWorldCtrl" ng-init="firstName='John';lastName='Doe'">
        {{message}}
        <p>The name is {{ firstName + " " + lastName }}</p>
    </div>
</body>
</html>