<!DOCTYPE html>
<html>
    <head>
        <title>Lista Telefonica</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
        <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-left: auto;
                margin-top: 20px;
                margin-right: auto;
            }
            .table {
                margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
            .selecionado {
                background-color: yellow;
            }
        </style>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <body>
        <div ng-app="listaTelefonica" ng-controller="listaTelefonicaCtrl">
            <div class="jumbotron">
                <h3>{{app}}</h3>
                <table class="table" ng-show="contatos.length > 0">
                    <tr>
                        <td></td>
                        <td>Nome</td>
                        <td>Telefone</td>
                        <td>Operadora</td>
                    </tr>
                    <tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
                        <td><input type="checkbox" ng-model="contato.selecionado" /></td>
                        <td>{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>
                        <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}">
                        </div></td>
                    </tr>
                </table>
                <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
                <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras"> 
                    <option value="">Selecione uma operadora</option>
                </select>
                <button ng-click="adicionarContato(contato)" class="btn btn-primary btn-block" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
                <button ng-click="apagarContatos(contatos)" class="btn btn-danger btn-block" ng-disabled="isContatoSelecionado(contatos)">Apagar contatos</button>
            </div>
            <!--<div ng-include="'footer.html'" />-->
        </div>

        <script>
            var app = angular.module('listaTelefonica', []);
            app.controller('listaTelefonicaCtrl', function($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
                $scope.app = "Lista Telefonica";
                $scope.contatos = [
                    {nome: 'Pedro', telefone: '8923899823', cor: "blue"},
                    {nome: 'Ana', telefone: '42342342', cor: "yellow"},
                    {nome: 'Maria', telefone: '453453534', cor: "red"}
                ];
                $scope.operadoras = [
                    {nome: 'Oi', codigo: 14, categoria: "Celular"},
                    {nome: 'Vivo', codigo: 15, categoria: "Celular"},
                    {nome: 'Tim', codigo: 41, categoria: "Celular"},
                    {nome: 'GVT', codigo: 25, categoria: "Fixo"},
                    {nome: 'Embratel', codigo: 21, categoria: "Fixo"}
                ];
                $scope.adicionarContato = function (contato){
                    $scope.contatos.push(angular.copy(contato))
                };
                $scope.apagarContatos = function (contatos){
                    $scope.contatos = contatos.filter(function (contato){
                        if(!contato.selecionado) return contato;
                    })
                };
                $scope.isContatoSelecionado = function (contatos){
                    return !contatos.some(function(contato){
                        return contato.selecionado
                    })
                };
            });
        </script>

    </body>
</html>